extends layout

block content
  .container.text-center.mt-5
    h1.text-danger Acceso Denegado
    p No tenés permisos para acceder a esta página o realizar la acción seleccionada.
    p Si crees que esto es un error, por favor contacta al administrador del sistema.
    a.btn.btn-primary.mt-3(href='/') Volver al inicio