doctype html
html
  head
    title Aprender+ - Sistema de Gestión
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="stylesheets/style.css")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css")
    link(rel="script", href="utils/assists.js")
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  body
    header.bg-primary.text-white.p-3
      h1.mb-0 Aprender+ - Centro de Formación

    .container-fluid
      .row
        if true
          // Sidebar
          .col-md-3.bg-light.p-3
            nav
              h5 Menú
              ul.nav.flex-column
                li.nav-item
                  a.nav-link(href="/") Inicio

                  // Submenú Asistencias
                li.nav-item
                  a.nav-link(data-bs-toggle="collapse" href="#submenuAsistencias" role="button" aria-expanded="false" aria-controls="submenuAsistencias")
                    | Asistencias ▾
                  ul.collapse.ms-3#submenuAsistencias
                    li.nav-item
                      a.nav-link(href="/assists/new-dictation") Nuevo registro
                    li.nav-item
                      a.nav-link(href="/assists/attendence-records") Registros

                // Submenú Alumnos
                li.nav-item
                  a.nav-link(data-bs-toggle="collapse" href="#submenuAlumnos" role="button" aria-expanded="false" aria-controls="submenuAlumnos")
                    | Alumnos ▾
                  ul.collapse.ms-3#submenuAlumnos
                    li.nav-item
                      a.nav-link(href="/alumnos") Listado
                    li.nav-item
                      a.nav-link(href="/facturas-alumnos") Facturas

                // Submenú Profesores
                li.nav-item
                  a.nav-link(data-bs-toggle="collapse" href="#submenuProfesores" role="button" aria-expanded="false" aria-controls="submenuProfesores")
                    | Profesores ▾
                  ul.collapse.ms-3#submenuProfesores
                    li.nav-item
                      a.nav-link(href="/profesores") Listado
                    li.nav-item
                      a.nav-link(href="/facturas-profesores") Facturas

                // Otros
                li.nav-item
                  a.nav-link(href="/courses") Cursos
                li.nav-item
                  a.nav-link(href="/inscripciones") Inscripciones
                li.nav-item
                  a.nav-link(href="/logout") Cerrar sesión

          // Contenido principal
          .col-md-9.p-4
            block content
        else
          // Solo contenido (sin sidebar)
          .col-12.p-4
            block content

    footer.bg-dark.text-white.text-center.p-3.mt-4
      p © #{new Date().getFullYear()} Aprender+

