extends ../layout

block content

    .container.mt-5
      h1.mb-4 Crear registro de asistencias

      form(action="/assists/addAssists" method="POST")
        .mb-3
          label(for="cursoId" class="form-label") Curso:
          select#cursoId.form-control(name="cursoId" required)
            option(value="") Seleccionar curso
            if courses
              each course in courses
                option(value=course._id)=course.nombre
            else
              option(value="" disabled) No hay cursos activos

        .mb-3
          label.form-label(for="fecha") Fecha
          input.form-control(type="date" name="fecha" id="fecha" required)

        button.btn.btn-primary(type="submit") Agregar asistencias

